.white {
    color: #ffffff;
}

.white-background {
    background-color: #ffffff;
}

.black {
    color: #000000;
}

.black-background {
    background-color: #000000;
}

.yellow {
    color: #fff692;
}

.yellow-background {
    background-color: #fff692;
}

.darkerblue {
    color: #037998;
}

.darkerblue-background {
    background-color: #037998;
}

.lighterblue {
    color: #00bade;
}

.lighterblue-background {
    background-color: #00bade;
}

.gray {
    color: #f1f1f1
}

.gray-background {
    background-color: #f1f1f1
}

a {
    font-family: 'Anton', sans-serif;
    font-size: 18pt;
    color: white !important;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 40pt;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 20pt;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 18pt;
}

.space {
    height: 2000px;
}

.rounded {
    border-radius: 25px !important;
}

.inline-img {
    display: inline-flex;
    width: 55pt;
    height: 55pt;
    margin-left: 5%;
    background-size: 100% 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.imgsize {
    height: 100%;
    text-align:center;
    border-radius: 15px;
}

.background-img {
    background-image: url("/img/IMG_5050.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nooutline {
    border: none !important;
}