.white {
    color: #ffffff;
}

.white-background {
    background-color: #ffffff;
}

.black {
    color: #000000;
}

.black-background {
    background-color: #000000;
}

.yellow {
    color: #fff692;
}

.yellow-background {
    background-color: #fff692;
}

.darkerblue {
    color: #037998;
}

.darkerblue-background {
    background-color: #037998;
}

.lighterblue {
    color: #00bade;
}

.lighterblue-background {
    background-color: #00bade;
}

.gray {
    color: #f1f1f1
}

.gray-background {
    background-color: #f1f1f1
}

a {
    font-family: 'Anton', sans-serif;
    font-size: 18pt;
    color: white !important;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 32pt;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 20pt;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 12pt;
}

.space {
    height: 2000px;
}

.rounded {
    border-radius: 25px !important;
}

.nooutline {
    border: none !important;
}

.imgsize {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    border-radius: 25px !important;
}