.black { 
    font-family: anton;
}

.yellow {
    color: #fff692;
}

.darkerblue {
    color: #037998;
}

.darkerblue-background {
    background-color: #037998;
}

.lighterblue {
    color: #00bade;
}

.lighterblue-background {
    background-color: #00bade;
}

.gray-background {
    background-color: #f1f1f1
}

a {
    font-family: 'Anton', sans-serif;
    font-size: 18pt;
    color: white !important;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 32pt;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16pt;
}

.rounded {
    border-radius: 25px !important;
}